// define variable for width of particles and side panel
$panel-width: 25%;
$profile-dim: 125px;

#tsparticles { // params for particles floating in the background
    position: fixed;
    width: $panel-width;
    height: 100vh;
    top: 0;
    left: 0;
    // z-index: -1;
}

.panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: $panel-width;
    height: 100vh;
    // margin-left: 20px;
    margin-top: 20px;

    z-index: 2;
}

.panel__header {
    display: flex;
    margin-bottom: 125px;
}

.panel__title {
    font-weight: $font-bold;
    font-size: 2rem;
    text-decoration: none;
    border-radius: pxToRem(2px);
    color: white;

    margin-bottom: 1rem;
}

.panel-profile__wrapper {
    margin-left: 20px;
    // margin-bottom: 20px;

    width: $profile-dim;
    height: $profile-dim;
    
    overflow: hidden;

    border-radius: 50%;
}

.panel__profile {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.panel__text {
    font-size: 1.2rem;
    color: $primary-40;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    min-width: 0; // 🛠 This is crucial
    max-width: 100%;

    margin-left: 20px;
    padding-right: 20px;
}

.panel-highlight__text {
    color: $primary-40;
    font-weight: bold;
}

.panel-cv__button {
    display: flex;
    align-self:center;
    padding: 0.1rem 0.5rem;
    margin-top: auto;
    margin-bottom: 50px;
    
    border: 1px solid darkorange;
    border-radius: 0.3rem !important;
    // background-color: #000010;

    height: auto;
    max-height: 100%;

    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: darkorange;

    transition: 
        box-shadow 0.0s ease-out,
        color 0.0s ease-out;
}

.panel-cv__button:hover,
.panel-cv__button:focus {
    cursor: pointer;
    color: #000010;
    box-shadow: inset 0 -3.25em 0 0 darkorange;
    transition: box-shadow 0.3s ease-in, color 0.3s ease-in;
}

.panel__buttons { // TODO: change color when highlighted
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5px;
    margin-bottom: 30px;
}

.panel__button {
    margin-left: 5px;
    margin-right: 5px;
    transition: fill 0.5s, filter 0.5s, box-shadow 0.5s;
}

.panel__button:hover {
    fill: #ffffff; // hover color
    filter: drop-shadow(0 0 10px white);
    transition: fill 0.5s, filter 0.5s, box-shadow 0.5s;
    // transition: fill 0.5s, filter 0.5s, box-shadow 0.5s;
}

.panel-header__title {
    display: flex;
    flex-direction: column;
    align-self: center;

    color: $primary-40;

    margin-left: 20px;
}